<header class="px-2 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between py-3 text-sm">
    <div class="flex items-center gap-4">
      <a href="/">
        <img src={~p"/images/icon.png"} width="36" />
      </a>
    </div>
  </div>
</header>
<main class="px-4">
  <div class="mx-auto max-w-4xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
